*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
html {
  box-sizing: border-box;
}
:root {
  --maincolor:#f1f5f9;
  --seccolor:#eee;
  --blue:#0075ff;
  --green:#22c55e;
  --orange:#f59e0b;
  --red:#f44336;
  --gray:#888;
  --transition: 0.3s;
}
body{
  font-family: "Open Sans", sans-serif;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.Wcontanier {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(450px ,1fr));
  gap: 10px;
}
@media (max-width:767px){
  .Wcontanier {
    grid-template-columns: minmax(250px ,1fr);
  }
}
.Wcontanier > div {
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}
.Wcontanier >div >p {
  color: var(--gray);
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.Wcontanier >div >h2{
  margin: 0px;
}
.Wcontanier .welcome{
  display: flex;
  flex-direction: column;
  background-color: var(--seccolor);
  padding: 0px;
}
.Wcontanier .welcome >div:first-child{
  position: relative; 
  margin-left: 20px;
  height: 150px;
}
.Wcontanier .welcome >div:first-child h2{
  margin-bottom: 10px;
}
.Wcontanier .welcome >div:first-child p{
  font-size: 15px;
  color: var(--gray);
}
.Wcontanier .welcome >div:first-child img{
  width: 180px;
  height: 180px;
  position: absolute;
  right: 0px;
  top: -15px;
}
@media (max-width:767px) {
  .Wcontanier .welcome div:first-child img{
    display: none;
  }
}
.Wcontanier .welcome >div:last-child{
  background-color: white;
}
.Wcontanier .welcome >div:last-child  {
  position: relative;
}
.Wcontanier .welcome >div:last-child > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  border-top: 1px solid var(--seccolor);
  border-bottom: 1px solid var(--seccolor);
  margin: 40px 0px;
  padding: 10px;
} 
@media (max-width:767px) {
  .Wcontanier .welcome >div:last-child > div{
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}
.Wcontanier .welcome >div:last-child div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.Wcontanier .welcome >div:last-child div div h4{
  margin: 0px;
  font-weight: 200;
}
.Wcontanier .welcome >div:last-child div div p{
  margin: 0px;
  color: var(--gray);
}
.Wcontanier .welcome >div:last-child img {
  position: absolute;
  z-index: 3;
  top: -35px;
  left: 20px;
  width: 70px;
  border-radius: 50%;
  height: 70px;
  border: 6px solid white;
}

@media (max-width:767px) {
  .Wcontanier .welcome >div:last-child img {
    left: 50%;
    transform: translate(-50%);
  }
}
.Wcontanier .welcome a{
  text-decoration: none;
  width: fit-content;
  padding:4px 8px;
  background-color: var(--blue);
  color: white;
  position: absolute;
  border-radius: 6px;
  bottom: 10px;
  right: 25px;
  font-size: 14px;
}
.Wcontanier .Draft {
  padding: 20px;
  position: relative;
}
.Wcontanier .Draft p{
  color: var(--gray);
  font-size: 15px;
}
.Wcontanier .Draft form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 35px;
  position: relative;
}
.Wcontanier .Draft form input ,
.Wcontanier .Draft form textarea{
  background-color: var(--seccolor);
  border: none;
  padding: 8px;
  border-radius: 6px;
  font-size: 13px;
}
.Wcontanier .Draft form input::placeholder ,
.Wcontanier .Draft form textarea::placeholder{
  color: var(--gray);
}
.Wcontanier .Draft form textarea{
  resize: none;
  height: 150px;
}
.Wcontanier .Draft form input:focus ,
.Wcontanier .Draft form textarea:focus{
  outline: none;
}
.Wcontanier .Draft form input[type=submit]{
  background-color: var(--blue);
  color: white;
  padding:4px 8px;
  right: 0px;
  position: absolute;
  bottom: 0px;
  font-size: 14px;
}
.Wcontanier .targets .child{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Wcontanier .targets .child .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.Wcontanier .targets .child .card i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  font-size: 20px;
}
.Wcontanier .targets .child > div:nth-child(1) i{
  background-color: rgba(0, 119, 255, 0.20);
  color: var(--blue);
}
.Wcontanier .targets .child > div:nth-child(2) i{
  background-color: rgb(245, 158, 11 , 20%);
  color: var(--orange);
}
.Wcontanier .targets .child > div:nth-child(3) i{
  background-color: rgb(34, 197, 94 , 20%);
  color: var(--green);
}
.Wcontanier .targets .child .card div p {
  color: var(--gray);
  font-size: 15px;
  margin: 5px 0px 10px;
}
.Wcontanier .targets .child .card div span{
  font-weight: 600;
}
.Wcontanier .targets .child .card div {
  position: relative;
  flex: 1;
}
.Wcontanier .targets .child .card div .perc1,
.Wcontanier .targets .child .card div .perc2,
.Wcontanier .targets .child .card div .perc3{
  width: 100%;
  margin-top: 10px;
  height: 5px;
  background-color: #0075ff;
  position: relative;
}
.Wcontanier .targets .child .card div .perc1{
  background-color: rgb(0, 119, 255 , 20%);
}
.Wcontanier .targets .child .card div .perc2{
  background-color: rgb(245, 158, 11 , 20%);
}
.Wcontanier .targets .child .card div .perc3{
  background-color: rgb(34, 197, 94 , 20%);
}
.Wcontanier .targets .child .card div .perc1 .area,
.Wcontanier .targets .child .card div .perc2 .area,
.Wcontanier .targets .child .card div .perc3 .area{
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.Wcontanier .targets .child .card div .perc1 .area{
  background-color: var(--blue);
  width: 50%;
}
.Wcontanier .targets .child .card div .perc2 .area{
  background-color: var(--orange);
  width: 60%;
}
.Wcontanier .targets .child .card div .perc3 .area{
  background-color: var(--green);
  width: 100%;
}
.Wcontanier .targets .child .card .perc1::before,
.Wcontanier .targets .child .card .perc2::before,
.Wcontanier .targets .child .card .perc3::before{
  position: absolute;
  color: white;
  top: -25px;
  width: 30px;
  height: 12px;
  padding: 3px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  transform: translate(-50%);
}
.Wcontanier .targets .child .card .perc1::before{
  content: "50%";
  left: 50%;
  background-color: #0075ff;
}
.Wcontanier .targets .child .card .perc2::before{
  content: "60%";
  left: 60%;
  background-color:var(--orange);
}
.Wcontanier .targets .child .card .perc3::before{
  content: "100%";
  left: 100%;
  background-color: var(--green);
}
.Wcontanier .targets .child .card .perc1::after,
.Wcontanier .targets .child .card .perc2::after,
.Wcontanier .targets .child .card .perc3::after{
  content: '';
  position: absolute;
  color: white;
  height: 0px;
  width: 0px;
  top: -10px;
  z-index: 3;
  border: 8px solid;
  transform: translate(-50%);
}
.Wcontanier .targets .child .card .perc1::after{
  left: 50%;
  border-color:var(--blue) transparent transparent transparent ;
}
.Wcontanier .targets .child .card .perc2::after{
  left: 60%;
  border-color:var(--orange) transparent transparent transparent ;
}
.Wcontanier .targets .child .card .perc3::after{
  left: 100%;
  border-color:var(--green) transparent transparent transparent ;
}
.Wcontanier .tickets>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}
.Wcontanier .tickets>div >div {
  width:calc(50% - 10px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc ;
  border-radius: 10px;
}
.Wcontanier .tickets>div >div i{
  font-size: 25px;
}
@media (max-width:767px) {
  .Wcontanier .tickets>div >div {
    width: 100%;
  }
}
.Wcontanier .tickets>div >div:nth-child(1) i{
  color: var(--blue);
}
.Wcontanier .tickets>div >div:nth-child(2) i{
  color: var(--orange);
}
.Wcontanier .tickets>div >div:nth-child(3) i{
  color: var(--green);
}
.Wcontanier .tickets>div >div:nth-child(4) i{
  color: var(--red);
}
.Wcontanier .tickets>div >div span {
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
}
.Wcontanier .tickets>div >div p {
  color: var(--gray);
  font-size: 14px;
  margin: 0;
}
.Wcontanier .news >div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
.Wcontanier .news .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width:767px) {
  .Wcontanier .news .card {
    flex-direction: column;
  }
}
.Wcontanier .news .card .data {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
@media (max-width:767px) {
  .Wcontanier .news .card .data {
    flex-direction: column;
    text-align: center;
  }
}
.Wcontanier .news .card .data div p{
  margin: 10px 0;
  font-size: 14px;
  color: var(--gray);
}
.Wcontanier .news .card .data div span{
  font-weight: 700;

}
.Wcontanier .news .card img {
  width: 100px;
  border-radius: 6px;
}
.Wcontanier .news .card .time {
  background-color: var(--seccolor);
  width: fit-content;
  padding: 4px 8px;
  border-radius: 6px;
}
.Wcontanier .news .card .time p {
  margin: 0;
  font-size: 12px;
}
<<<<<<< HEAD
=======
.Wcontanier .tasks .con{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.Wcontanier .tasks .con .card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Wcontanier .tasks .con .card .text{
  display: flex;
  flex-direction: column;
}
.Wcontanier .tasks .con .card .text h3{
  margin: 0;
  font-size: 16px;
}
.Wcontanier .tasks .con .card .text p{
  margin:5px 0px 15px ;
  font-size: 14px;
  font-weight: 300;
  color: var(--gray);
}
.Wcontanier .tasks .con .card i {
  font-size: 18px;
  cursor: pointer;
}
.Wcontanier .tasks .con .card i:hover {
  color: var(--red);
}
.Wcontanier .tasks .con .card:nth-child(4){
  opacity: 50%;
}
.Wcontanier .searchitem .con {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top:30px ;
}
.Wcontanier .searchitem .con div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Wcontanier .searchitem .con div p{
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.Wcontanier .searchitem .con div:not(:nth-child(1)) span {
  padding: 5px;
  font-size: 14px;
  background-color: var(--seccolor);
  border-radius: 5px;
}
.Wcontanier .searchitem .con div:nth-child(1) p{
  font-size: 15px;
  font-weight: 600;
  color: var(--gray);
}
.Wcontanier .searchitem .con div:nth-child(1) span {
  padding: 5px;
  font-size: 18px;
  color: var(--gray);
}
.Wcontanier .uploads .con {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Wcontanier .uploads .con .card{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
.Wcontanier .uploads .con .card .data {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.Wcontanier .uploads .con .card .data .text {
  display: flex;
  flex-direction: column;
}
.Wcontanier .uploads .con .card .data i{
  font-size: 35px;
  color: var(--blue);
}
.Wcontanier .uploads .con .card:not(:last-child){
  border-bottom: 1px solid #eee;
}
.Wcontanier .uploads .con .card .data .text p {
  margin: 0px 0px 5px;
  font-weight: 600;
  font-size: 15px;
}
.Wcontanier .uploads .con .card .data .text span {
  color: var(--gray);
  font-size: 13px;
  font-weight: 600;
}
.Wcontanier .uploads .con .card .size span{
  padding: 5px;
  border-radius: 5px;
  background-color: var(--seccolor);
  font-size: 13px;
}
.Wcontanier .progress .con{
  margin-top: 30px; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.Wcontanier .progress .con img{
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
  opacity: 10%;
}
@media (max-width:767px) {
  .Wcontanier .progress .con img {
    display: none;
  }
}
.Wcontanier .progress .con .card {
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: relative;
  align-items: center;
}
.Wcontanier .progress .con .card p {
  margin: 0px;
  font-size: 16px;
}
.Wcontanier .progress .con .card i{
  font-size: 22px;
  color: var(--blue);
  position: relative;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid var(--blue);
}
.Wcontanier .progress .con .card:not(:last-child):before{
  content: "";
  position: absolute;
  left: 14px;
  top: 30px;
  width: 2px;
  height: 20px;
  background-color: var(--blue);
}
.Wcontanier .progress .con .card:nth-child(4) i {
  animation: fade 1.5s infinite ;
  transition-duration:var(--transition);
}
.Wcontanier .reminders .con {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Wcontanier .reminders .con .card{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.Wcontanier .reminders .con .card div{
  display: flex;
  flex-direction: column;
}
.Wcontanier .reminders .con .card span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
}
.Wcontanier .reminders .con .card:nth-child(1) span{
  background-color: var(--blue);
}
.Wcontanier .reminders .con .card:nth-child(2) span{
  background-color: var(--green);
}
.Wcontanier .reminders .con .card:nth-child(3) span{
  background-color: var(--orange);
}
.Wcontanier .reminders .con .card:nth-child(4) span{
  background-color: var(--red);
}
.Wcontanier .reminders .con .card span::before{
  content: "";
  position: absolute;
  right: -15px;
  top: -12px;
  width: 2px;
  height: 40px;
  background-color: inherit;
}
.Wcontanier .reminders .con .card div h4{
  margin: 0px;
  font-size: 14px;
}
.Wcontanier .reminders .con .card div p{
  margin: 5px 0px 0px;
  font-size: 13px;
  color: var(--gray);
}
.Wcontanier .posts .con {
  margin-top: 30px; 
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Wcontanier .posts .con .pro {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.Wcontanier .posts .con .pro img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.Wcontanier .posts .con .pro h4 {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}
.Wcontanier .posts .con .pro p {
  margin: 5px 0px 0px;
  font-size: 16px;
  color: var(--gray);
}
.Wcontanier .posts .con .text {
  text-transform: capitalize;
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 80px;
}
.Wcontanier .posts .con .react {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.Wcontanier .posts .con .react .coment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--gray);
}
.Wcontanier .posts .con .react .coment i{
  color: var(--gray);
  font-size:  16px;
}
.Wcontanier .posts .con .react .like form {

}
.Wcontanier .posts .con .react .like form input[type=checkbox] {
  display: none;
}
.Wcontanier .posts .con .react .like form label {
  position: relative; 
  color: var(--gray);
  margin-left: 20px;
}
.Wcontanier .posts .con .react .like form label::before {
  content: "\f004";
  font:var(--fa-font-regular);
  position: absolute;
  top: -1px;
  left: -22px;
  font-size: 18px;
  color: var(--gray);
}
.Wcontanier .posts .con .react .like form input[type=checkbox]:checked + label::after{
  content: "\f004";
  font:var(--fa-font-solid);
  position: absolute;
  top: -1px;
  left: -22px;
  font-size: 18px;
  color: var(--red);
}

.Wcontanier .social .con {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Wcontanier .social .con .card{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.Wcontanier .social .con .card div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.Wcontanier .social .con .card div div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition-duration: var(--transition);
}
.Wcontanier .social .con .card div div i{
  font-size: 25px;
  color: white;
}
.Wcontanier .social .con .card div div:hover{
  transform: rotate(5deg);
}
.Wcontanier .social .con .card:nth-child(1) div div {
  background-color: #1da1f2 ;
}
.Wcontanier .social .con .card:nth-child(2) div div {
  background-color:#1778f2 ;
}
.Wcontanier .social .con .card:nth-child(3) div div {
  background-color:#c4302b  ;
}
.Wcontanier .social .con .card:nth-child(4) div div {
  background-color: #0072b1 ;
}
.Wcontanier .social .con .card:nth-child(1) {
  background-color: rgb(29, 161, 242 , 40%);
}
.Wcontanier .social .con .card:nth-child(2) {
  background-color: rgb(23, 120, 242 , 40%);
}
.Wcontanier .social .con .card:nth-child(3) {
  background-color: rgb(196, 48, 43 , 40%) ;
}
.Wcontanier .social .con .card:nth-child(4) {
  background-color: rgb(0, 114, 177 , 40%);
}
.Wcontanier .social .con .card a {
  padding: 5px;
  text-decoration: none;
  border-radius: 6px;
  margin-right: 12px;
  font-size: 14px;
  color: white;
}
.Wcontanier .social .con .card:nth-child(1) a {
  background-color: #1da1f2;
}
.Wcontanier .social .con .card:nth-child(2) a {
  background-color: #1778f2 ;
}
.Wcontanier .social .con .card:nth-child(3) a {
  background-color: #c4302b ;
}
.Wcontanier .social .con .card:nth-child(4) a {
  background-color: #0072b1 ;
}
.Wcontanier .social .con .card p {
  font-size: 15px;
  font-weight: 600;
}
.Wcontanier .social .con .card:nth-child(1) p{
  color:#1da1f2;
}
.Wcontanier .social .con .card:nth-child(2) p{
  color:#1778f2;
}
.Wcontanier .social .con .card:nth-child(3) p{
  color:#c4302b;
}
.Wcontanier .social .con .card:nth-child(4) p{
  color:#0072b1;
}
.projects {
  width: 100%;
}
.projects .con {
  margin-top: 30px;
  overflow-X: scroll;
  max-width: 100%;
}
.projects .con table {
  min-width: 1000px;
  max-width: 1fr;
  max-width: 100%;
  border-collapse: separate;
}
.projects .con td {
  padding: 15px;
  background-color: #eee;
  font-weight: bold;
  display: table-cell;
  flex: 1;
}
.projects .con img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
}
.projects .con td img:not(:first-child){
  margin-left: -15px;
}
/* animations */
@keyframes fade {
  30%{
    color: var(--blue);
  }
  0%,100%{
    color: transparent;
  }
}
/*
https://elzerowebschool.github.io/HTML_And_CSS_Template_Four/
http://127.0.0.1:5500/index.html
https://fontawesome.com/search?q=love&o=r&m=free
*/
>>>>>>> 1c5efc2 (ff)
